body {
    background-color:black;
}



.img-fluid {
    border-radius: 70%;
    max-height: 700px;
    padding: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.quote {
    text-align: center;
    color: white;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
}

.background {
    background-color:black;
    padding: 20px;
    color: white;
}

.container h1,
h1 {
    color: Black;
    text-align: center;
    font-size: 55px;
    padding: 20px;
}

.container h2,
p{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.background p{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
}

.resume a{
    text-align: center;
}

footer {
    padding: 15px;
    text-align: center;
    color: black;
}

title {
    color: black;
    text-align: center;
}











